@import 'theme.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  scrollbar-color: hsl(180, 98%, 32%) var(--color-background);
  scrollbar-width: thin;
  color-scheme: dark light;
}

body {
  color: var(--color-text);
  display: grid;
  grid-template-columns: [full-width-start] 10px [breakout-start] 280px [content-start] 1fr [content-end] 1fr [breakout-end] 10px [full-width-end];

  @media (max-width: 920px) {
    grid-template-columns: [full-width-start] 10px [breakout-start] 170px [content-start] 1fr [content-end] 30px [breakout-end] 10px [full-width-end];
  }

  @media (max-width: 705px) {
    grid-template-columns: [full-width-start] 10px [breakout-start] 30px [content-start] 1fr [content-end] 30px [breakout-end] 10px [full-width-end];
  }

  &::before {
    --size: 60px;
    --line: var(--color-line);

    content: '';
    position: fixed;
    height: 100vh;
    width: 100vw;
    background:
      linear-gradient(90deg, var(--line) 0.5px, transparent 0.5px var(--size)) 50% 50% / var(--size)
        var(--size),
      linear-gradient(var(--line) 0.5px, var(--color-background) 0.5px var(--size)) 50% 50% /
        var(--size) var(--size);
    mask: linear-gradient(-7.5deg, transparent 15%, #fff);
    top: 0;
    transform-style: flat;
    pointer-events: none;
    z-index: -1;
  }

  > * {
    grid-column: full-width;
  }
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

h1 {
  font-size: clamp(2.75rem, 10vw - 1rem, 3.5rem);
}

p {
  text-wrap: pretty;
}

img {
  font-style: italic;

  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

[data-type='card'] {
  color: var(--color-title);
  background-color: var(--contrast);
  border: 2px solid var(--border-color);
}

main {
  grid-column: content-start/breakout-end;
  padding-left: 1.5rem;
}

@media (max-width: 705px) {
  main {
    grid-column: breakout;
    padding-left: 0;
  }
}

@media (min-width: 345px) {
  .total-button {
    display: flex;
  }
}
