:root {
  --color-background: hsl(181, 75%, 92%);
  --color-title: hsl(181, 75%, 32%);
  --color-title-hover: hsl(181, 75%, 38%);
  --color-text: hsla(0, 0%, 0%, 0.8);
  --color-nav: hsl(0, 0%, 100%);
  --color-aside: hsl(204, 100%, 50%);
  --color: rgba(114, 114, 114, 0.1);

  --mix: hsl(0, 0%, 100%);
  --contrast: color-mix(in lab, currentColor 20%, var(--mix));
  --border-color: color-mix(in lab, currentColor 20%, hsla(0, 0%, 0%, 0.314));

  --color-line: hsla(0, 0%, 0%, 0.4);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: hsl(204, 100%, 10%);
    --color-title: hsl(179, 59%, 50%);
    --color-title-hover: hsl(179, 59%, 70%);
    --color-text: hsla(0, 0%, 100%, 0.8);
    --color-nav: hsl(179, 59%, 30%);
    --color-aside: hsl(204, 100%, 80%);
    --color: rgba(114, 114, 114, 0.1);

    --mix: hsl(0, 0%, 0%);
    --border-color: color-mix(in lab, currentColor 20%, hsla(0, 0%, 100%, 0.314));

    --color-line: hsla(0, 0%, 100%, 0.4);
  }
}

.light {
  --color-background: hsl(181, 75%, 92%);
  --color-title: hsl(181, 75%, 32%);
  --color-title-hover: hsl(181, 75%, 38%);
  --color-text: hsla(0, 0%, 0%, 0.8);
  --color-nav: hsl(0, 0%, 100%);
  --color-aside: hsl(204, 100%, 50%);
  --color: rgba(114, 114, 114, 0.1);

  --mix: hsl(0, 0%, 100%);
  --contrast: color-mix(in lab, currentColor 20%, var(--mix));
  --border-color: color-mix(in lab, currentColor 20%, hsla(0, 0%, 0%, 0.314));

  --color-line: hsla(0, 0%, 0%, 0.4);
}

.dark {
  --color-background: hsl(204, 100%, 10%);
  --color-title: hsl(179, 59%, 50%);
  --color-title-hover: hsl(179, 59%, 70%);
  --color-text: hsla(0, 0%, 100%, 0.8);
  --color-nav: hsl(179, 59%, 30%);
  --color-aside: hsl(204, 100%, 80%);
  --color: rgba(114, 114, 114, 0.1);

  --mix: hsl(0, 0%, 5%);
  --border-color: color-mix(in lab, currentColor 20%, hsla(0, 0%, 100%, 0.314));

  --color-line: hsla(0, 0%, 100%, 0.4);
}
