@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: hsl(0, 0%, 96%);
  --color-title: hsl(181, 75%, 32%);
  --color-text: hsla(0, 0%, 0%, 0.8);
  --color-nav: hsl(0, 0%, 100%);
  --color: rgba(114, 114, 114, 0.1);

  --mix: hsl(0, 0%, 100%);
  --contrast: color-mix(in lab, currentColor 20%, var(--mix));
  --border-color: color-mix(in lab, currentColor 20%, hsla(0, 0%, 0%, 0.314));

  @media (prefers-color-scheme: dark) {
    --color-background: hsl(0, 0%, 10%);
    --color-title: hsl(179, 59%, 50%);
    --color-text: hsla(0, 0%, 100%, 0.8);
    --color-nav: #0099ff;
    --color: rgba(114, 114, 114, 0.1);

    --mix: hsl(0, 0%, 0%);
    --border-color: color-mix(in lab, currentColor 20%, hsla(0, 0%, 100%, 0.314));
  }
}

body {
  background-color: var(--color-background);
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 80px 80px;
  color: var(--color-text);
  display: grid;
  grid-template-columns: [full-width-start] 20px [breakout-start] 1fr [content-start] 860px [content-end] 1fr [breakout-end] 20px [full-width-end];

  @media (max-width: 920px) {
    grid-template-columns: [full-width-start] 10px [breakout-start] 10px [content-start] 1fr [content-end] 10px [breakout-end] 10px [full-width-end];
  }
}

body > * {
  grid-column: full-width;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

img {
  font-style: italic;

  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

[data-type='navbar'] {
  color: var(--color-nav);
  background-color: var(--contrast);
  border: 2px solid var(--border-color);
}

[data-type='card'] {
  color: var(--color-title);
  background-color: var(--contrast);
  border: 2px solid var(--border-color);
}

button {
  align-items: center;
  border: 0;
  border-radius: 8px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 3px;
  height: fit-content;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

button:active,
button:hover {
  outline: 0;
}

button span {
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

button:hover span {
  background: none;
}

button:active {
  transform: scale(0.9);
}
