@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: hsl(0, 0%, 96%);
  --color-title: hsl(181, 75%, 32%);
  --color-title-hover: hsl(181, 75%, 38%);
  --color-text: hsla(0, 0%, 0%, 0.8);
  --color-nav: hsl(0, 0%, 100%);
  --color: rgba(114, 114, 114, 0.1);

  --mix: hsl(0, 0%, 100%);
  --contrast: color-mix(in lab, currentColor 20%, var(--mix));
  --border-color: color-mix(in lab, currentColor 20%, hsla(0, 0%, 0%, 0.314));

  @media (prefers-color-scheme: dark) {
    --color-background: hsl(0, 0%, 10%);
    --color-title: hsl(179, 59%, 50%);
    --color-title-hover: hsl(179, 59%, 70%);
    --color-text: hsla(0, 0%, 100%, 0.8);
    --color-nav: #0099ff;
    --color: rgba(114, 114, 114, 0.1);

    --mix: hsl(0, 0%, 0%);
    --border-color: color-mix(in lab, currentColor 20%, hsla(0, 0%, 100%, 0.314));
  }
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  scrollbar-color: #02a0a0 var(--color-background);
  scrollbar-width: thin;
}

body {
  background-color: var(--color-background);
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 80px 80px;
  color: var(--color-text);
  display: grid;
  grid-template-columns: [full-width-start] 10px [breakout-start] 280px [content-start] 1fr [content-end] 280px [breakout-end] 10px [full-width-end];

  > * {
    grid-column: content;
  }
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

h1 {
  font-size: clamp(2.75rem, 10vw - 1rem, 4.5rem);
}

p {
  text-wrap: pretty;
}

img {
  font-style: italic;

  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

[data-type='navbar'] {
  color: var(--color-nav);
  background-color: var(--contrast);
  border: 2px solid var(--border-color);
}

[data-type='card'] {
  color: var(--color-title);
  background-color: var(--contrast);
  border: 2px solid var(--border-color);
}

.product__grid {
  display: grid;
  grid-auto-flow: dense;
  grid-auto-rows: 1fr auto auto;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 210px), 1fr));

  container-type: inline-size;
}

.product {
  --_padding: 1rem;

  display: grid;
  grid-row: span 3;
  grid-template-rows: subgrid;
  gap: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;

  color: var(--color-title);
  background-color: var(--contrast);
  border: 2px solid var(--border-color);
  transition: all 0.3s ease;

  h3,
  p,
  footer {
    transition: all 0.3s ease;
  }

  &:hover {
    color: var(--color-title-hover);

    img {
      scale: 1.05;
    }

    h3,
    p,
    footer {
      scale: 0.99;
    }
  }
}

.product__price {
  line-height: 1;
}

.product__description {
  display: block;
}

// .product[data-featured='true'] {
//   @container (min-width: 850px) {
//     grid-column: span 2;
//     grid-template-columns: subgrid;

//     figcaption {
//       grid-column: 1 / -1;
//     }

//     .product__title {
//       font-size: 2rem;
//       grid-column: 1 / -1;
//     }

//     .product__description {
//       display: block;
//       margin-bottom: var(--_padding);
//     }
//   }

//   @container (min-width: 1000px) {
//     grid-column: span 3;

//     .product__description {
//       grid-column: span 2;
//     }
//   }
// }
